.cover :global {
    tbody tr.ant-table-row[data-row-key="1"] {
        background: initial;
        color: initial;
    }

    tbody tr.ant-table-row {
        background: #989898;
        color: #989898;
    }
}

.cover{
    
}

.wrapper {
    position: relative;

    .table {
        z-index: 1;
    }

    .overlay {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
}

.action {
    margin-right: 15px;
    color: #1b46f5;
}

.emailColumn {
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100px;
}